<div class="text-lg w-full h-full flex flex-col items-center justify-center gap-4">
    <div class="h-[90%] w-full bg-gray-200 text-small pt-1 pl-2 overflow-scroll" readonly>
      <div class="inline text-gray-500">
        {{prefix}}
      </div>
      <div *ngIf="!is_placeholder" class="inline text-gray-900">
        {{commentary}}
      </div>
      <div *ngIf="is_placeholder" class="inline text-gray-500">
        ...
      </div>
      <div *ngIf="error !== null" class="text-red-700 inline">
        {{error}}
      </div>
    </div>
    <div class="w-1/4 flex items-center justify-center">
      <button class="" mat-stroked-button color="primary" (click)="request_commentary()"> Request commentary </button>
    </div>
</div>
