bs4==0.0.2
CairoSVG==2.7.1
chess==1.10.0
jupyter==1.0.0
numpy==1.26.3
polars==0.20.6
sentencepiece==0.1.991.2
torch==2.2.0
torchdata==0.7.1
torchtext==0.16.2
tqdm==4.66.1
urllib3==2.2.0
wandb==0.16.3
