<div class="w-full h-full rounded border-2 border-gray-300 bg-white flex flex-col">
  <div class="bg-gray-100 w-full flex justify-between p-2 sticky top-0">
    <div class="w-full text-2xl font-semibold text-gray-800 ml-2 my-auto flex flex-col justify-between">
      <div class="my-auto text-center">
        History
      </div>
      <div class="flex flex-row justify-between">
        <div class="text-sm text-gray-600 my-auto">
          <div *ngIf="lastEvaluation" class="flex items-center gap-2">
            <div class="flex flex-col" matTooltip="Stockfish engine evaluation of the position at the specified depth. A positive number is advantage for white, negative is for black. Advantage is measured in centipawns, or in the number of moves until checkmate">
              <div class="flex items-center flex-row" >
                <div> Evaluation: </div>
                <div *ngIf="lastEvaluation.isMate">
                  <div> Mate in {{lastEvaluation.score}} </div>
                </div>
                <div *ngIf="!lastEvaluation.isMate">
                  <div> {{lastEvaluation.score}} </div>
                </div>
              </div>
              <div class=""> Depth: {{lastEvaluation.depth}} </div>
            </div>
          </div>
          <div *ngIf="!lastEvaluation">
            Engine evaluation unavailable.
          </div>
        </div>
        <div class="my-auto text-gray-600 flex">
          <button class="flex flex-col items-center gap-2" matTooltip="The played moves of a chess game will go here. Navigating through them can be done by clicking on a certain move, or using the arrow keys.">
            <mat-icon class="" fontIcon="help"></mat-icon>
            <div class="w-full text-center text-xs text-gray-600">
              Help
            </div>
          </button>
          <button mat-button class="flex flex-col min-h-12 items-center gap-3 relative top-0.5" (click)="onRequestFlip()" matTooltip="Change the board's perspective from black to white or from white to black">
            <mat-icon class="" fontIcon="flip" style="margin-right:0;transform: scale(1.5) rotate(90deg);"></mat-icon>
            <div class="w-full text-center text-xs text-gray-600">
              Flip
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full grid grid-cols-7 bg-white overflow-scroll">
    <div *ngFor="let move of moves_enumerated; index as i" [class.text-center]="(i % 3 === 0)" [class.bg-gray-200]="(i % 3 === 0)" [class.text-gray-600]="(i % 3 === 0)" [class.col-span-3]="(i % 3 !== 0)" [class.bg-slate-300]="(moves_indexed[i] === current_index - 1)" (click)="onClick(moves_indexed[i])">
      {{ move }}
      <div *ngIf="(moves_indexed[i] === current_index - 1 || (i === 0 && current_index === 0))" #toFocus></div>
    </div>
  </div>
</div>
<!--

-->
